@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #0c0b10;
}

/* use this to change the input calender color */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.form-div {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

form {
  width: 100%;
  max-width: 510px;
  height: 100%;
  padding: 1em;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: #17171791;
  border-radius: 10px/10px;
  align-items: center;
  backdrop-filter: blur(10px);
}

form > * {
  margin-bottom: 1em;
}

.form-header {
  text-align: center;
  font-size: 4rem;
}

.form-header-sub {
  text-align: center;
  font-size: 2rem;
}

.form-button {
  width: 30%;
  height: 10%;
  background-color: #3b64f7;
  color: white;
  padding: 0.5em;
  border-radius: 5px/5px;
  border: 1px solid #3b64f7;
  text-align: center;
  font-size: 1.5rem;
}

/* .form-label {
  border: 2px solid red;
} */

.form-input {
  width: 100%;
  height: 8%;
}

.form-input input,
.form-input textarea {
  width: 100%;
  height: 100%;
  border-radius: 10px/10px;
  padding: 1em;
  border: 2px solid white;
  background-color: #212025;
  color: white;
}

.form-link {
  color: #3b64f7;
}

.drop-shadow-around {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.login-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
  position: absolute;
  z-index: -100;
}

.login-btn {
  min-width: 50%;
}

.login-error-msg {
  text-align: center;
  margin-bottom: 1em;
}

#login-message h1 {
  width: 65%;
  font-size: 3.75rem;
  font-weight: normal;
}

#login-message span {
  color: #3b64f7;
  font-weight: bold;
}

#form-container {
  width: 100%;
  height: 100%;
}

#login-container {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  padding: 3rem;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1000px) {
  #login-container {
    display: flex;
    flex-direction: column;
  }

  #login-message h1 {
    margin: 0 auto;
    width: 80%;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1em;
  }
}
