/* Styling */

.overview-cols {
  background-color: #3f3b3b91;
  border-radius: 2%;
}

.overview-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0.2em 1.3em;
  border: 3px solid #3b64f7;
  background-color: transparent;
  color: #3b64f7;
  border-radius: 10px / 10px;
  cursor: pointer;
  margin: 0.5em auto;
}

.overview-button:hover {
  border: 3px solid #3b64f7;
  color: #2451f5;
}

/* Layout */

#overview-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  gap: 3em;
}

#overiew-display,
#overview-task-list-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 95%;
  max-height: 30em;
  margin: 0 auto;
  overflow-y: scroll;
}

#overview-task-list-container {
  margin-top: 1.5em;
}

.overiew-display-col {
  width: 100%;
}

.overview-cols {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}

.overview-cols h1 {
  text-align: center;
  margin-top: 1em;
}

.cols-bg {
  height: 100%;
}

.cols-sm {
  height: 100%;
}

#filter-btn {
  position: relative;
  top: 20px;
  left: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  cursor: pointer;
  margin-bottom: -2em;
}

#filter-btn h2 {
  display: none;
}

.overview-button h3 {
  margin-left: 1em;
}

@media screen and (min-width: 400px) {
  #overview-container {
    height: fit-content;
    gap: 4em;
    margin-bottom: 2rem;
  }
  #overiew-display {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }

  .overview-cols {
    height: 100%;
    width: 100%;
  }

  .overiew-display-col {
    width: 48%;
  }

  #filter-btn h2 {
    display: inline-block;
  }
}
@media screen and (min-width: 950px) {
  #overview-container {
    flex-direction: row;
    gap: 3em;
  }

  #overiew-display {
    flex-direction: row;
    gap: 10px;
    width: 95%;
    height: 80%;
    margin: 0 auto;
    align-items: stretch;
  }

  .overview-cols {
    height: 500px;
  }

  .cols-bg {
    width: 48%;
  }

  .cols-sm {
    width: 23%;
  }
}

/* Typography */
.overview-cols h1 {
  font-weight: 500;
  font-size: 22px;
}

#filter-btn h2 {
  font-size: 22px;
  font-weight: 400;
}
